<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oauth</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
    </ul>
  </nav>
  <header>
    <h1>OAuth</h1>
    <h2>Homepage</h2>
  </header>
  <main>
    <p>El mejor tutorial OAuth del planeta </p>
  </main>
</body>
</html>